.cartParent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.cartProduct {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 40px;
  max-width: 400px;
  padding: 20px;
  background-color: #0d8d71;
}
